node_modules/
coverage/
.vscode
.env
.nyc_output/
temp/*
.idea
.db/data/
dist/
database-debug.log
firestore-debug.log
firebase-debug.log
docs/swagger-resolved.yaml
.terraform
*.tfstate.d
*.tfplan
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
!infrastructure/remote-state/*.tfstate
*-rendered.*
packer-manifest.json
.serverless
newrelic_agent.log
